*_test.html
ShadowOfTheWyrm.sdf
ShadowOfTheWyrm.exe*
ShadowOfTheWyrm.exp
ShadowOfTheWyrm.ilk
ShadowOfTheWyrm.lib
ShadowOfTheWyrm.pdb
ShadowOfTheWyrm.suo
ShadowOfTheWyrm.v12.suo
ShadowOfTheWyrm.opensdf
ShadowOfTheWyrm.csv
ShadowOfTheWyrm.out
ShadowOfTheWyrm.VC.db
ShadowOfTheWyrm_Artifacts.txt
scores.dat
MapTester.exe
MapTester.ilk
MapTester.pdb
xerces-c_3_1D.dll
Debug
dist
dist_sprites
\.vs
docs/src/*.aux
docs/src/*.log
docs/src/*.toc
Release
Release - Curses Only
MapTester
SaveConverter
savage.exe
savage.pdb
xerces-c_3_1.dll
*.sws
*.swp
*.bak
*.dmp
